.header{
	width: 100%;
	height:100px;
	position: relative;
	background-image: url(../imgs/header.jpg); 
	min-width: 1366px;
	display: block;
}
#span1{
	font-size: 29px;
	color: black;
	line-height: 100px;
	text-align: center;
	 margin-left: 100px;
}
#div1{
	float: right;
	text-align: center; 
	line-height: 100px;
	padding-right: 100px;
}
#div2{
	width:200px;
	height:100px;
    float: right;
	text-align: center;
	line-height: 100px;
	padding-right: 10px;
}
.left{
	float: left;
}
#clock{
	
}
